.modal-logo {
    fill: transparent;

    animation: modal-logo 12s ease infinite alternate;
}

@keyframes modal-logo {
    0% {
        stroke-width: 0;
        stroke-dasharray: 1 100;
    }
    25% {
        stroke-width: 1;
        stroke-dasharray: 100 0;
    }
    60%,100% {
        stroke-width: 0.3;
        fill: $white-dark;
    }
}