header {
    width: 100%;
    padding-top: 16px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;

    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 86px;
}

.navbar-menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-list {
    list-style: none;
    display: flex;

    li {
        margin-left: 24px;
    }

    @include responsive() {
        display: none;
    }
}

.nav-link {
    display: inline-block;
    padding: 8px 16px;

    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;

    position: relative;


    color: $gray-3;
    transition: .7s ease;

    &::after {
        content: '';
        display: block;
        position: absolute;

        left: 50%;
        top: -40px;

        width: 2px;
        height: 0px;
        background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #E91D22 100%);

        transition: .7s ease;
    }

    &:hover {
        color: $white-light;

        &::after {
            height: 40px;
        }
    }
}

.bx {
    height: 48px;
    width: 48px;
    background-color: $white;

    display: none;
    
    @include responsive() {
        display: block;
    }
}

.navbar-social {
    display: flex;

    svg {
        margin-left: 16px;
        transition: .7s ease;
    }

    svg:hover {
        cursor: pointer;
        color: $red;
        transform: translate3d(0,-3px,0);
    }

    @include responsive() {
        display: none;
    }
}